h1
{
    text-align: center;
    color: black;
}

#statuses {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #statuses td, #statuses th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #statuses tr:nth-child(even){background-color: #f2f2f2;}
  
  #statuses tr:hover {background-color: #ddd;}
  
  #statuses th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    color: white;
  }