<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- <mat-toolbar color="primary">  
  <h1>  
    House Guard 
  </h1>  
  <button mat-button routerLink="/">Home</button>  
  <button mat-button routerLink="/about">About</button>
  <button mat-button routerLink="/events">Events</button>
  <button mat-button routerLink="/dailyStatus">Daily Updates</button>
  <button mat-button routerLink="/status">Status</button> 
</mat-toolbar> -->

<mat-sidenav-container>
  <mat-sidenav  #sidenav role="navigation">
   <mat-nav-list>
    <a mat-list-item>
      <mat-icon class="icon">input</mat-icon>
      <span class="label">Login</span>
    </a>
    <a mat-list-item
    routerLink="/">
      <mat-icon class="icon">home</mat-icon>
        <span class="label">Home</span>
    </a>
    <a mat-list-item
    routerLink="/about">
      <mat-icon class="icon">info</mat-icon>
        <span class="label">About</span>
    </a>
    <a mat-list-item
      routerLink="/events">
      <mat-icon class="icon">Events</mat-icon>
      <span class="label">Events</span>
    </a>
    <a mat-list-item
      routerLink="/access">
      <mat-icon class="icon">date_range</mat-icon>
      <span class="label">Access</span>
    </a>
    <a mat-list-item
       routerLink="/faults">
      <mat-icon class="icon">priority_high</mat-icon>
      <span class="label">Faults</span>
    </a>
    <a mat-list-item
        routerLink="/hardware">
      <mat-icon class="icon">priority_high</mat-icon>
      <span class="label">Hardware</span>
    </a>
    <a mat-list-item
       routerLink="/motion">
      <mat-icon class="icon">priority_high</mat-icon>
      <span class="label">Motion</span>
    </a>
    <a mat-list-item
        routerLink="/device">
      <mat-icon class="icon">priority_high</mat-icon>
      <span class="label">Devices</span>
    </a>
    <a  mat-list-item type="button">
      <mat-icon class="icon">input</mat-icon>
      <span class="label">LogOut</span>
    </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
     <div fxHide.gt-xs>
       <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
     <div>
       <a>
          Material Blog
       </a>
     </div>
     <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
        <ul fxLayout="row wrap" fxLayoutGap="20px" class="navigation-items">
            <li>
              <a routerLink="/">
                  <mat-icon class="icon">home</mat-icon>
                  <span class="label">Home</span>
              </a>
            </li>
            <li>
              <a routerLink="/about">
                  <mat-icon class="icon">article</mat-icon>
                  <span class="label">About</span>
              </a>
            </li>
            <li>
              <a routerLink="/events">
                  <mat-icon class="icon">events</mat-icon>
                  <span class="label">Events</span>
              </a>
            </li>
            <li>
              <a routerLink="/access">
                  <mat-icon class="icon">events</mat-icon>
                  <span class="label">Access</span>
              </a>
            </li> 
            <li>
              <a routerLink="/device">
                  <mat-icon class="icon">events</mat-icon>
                  <span class="label">Device</span>
              </a>
            </li>
            <li>
              <a routerLink="/faults">
                  <mat-icon class="icon">events</mat-icon>
                  <span class="label">Faults</span>
              </a>
            </li>
            <li>
              <a routerLink="/hardware">
                  <mat-icon class="icon">events</mat-icon>
                  <span class="label">Hardware</span>
              </a>
            </li> 
            <li>
              <a routerLink="/motion">
                  <mat-icon class="icon">events</mat-icon>
                  <span class="label">Motion</span>
              </a>
            </li> 
              <li>
        </ul>
     </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

